@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend Deca", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Menus */

#navbar {
  opacity: 0;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(27, 27, 27);
  z-index: 3;
}

#navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#navbar ul li {
  padding: 1.2rem 1.5rem 1.2rem 0;
}

#navbar ul li a {
  color: rgb(240, 240, 240);
}

nav a:hover,
nav a:focus {
  outline: none;
}

@media (max-width: 400px) {
  #navbar ul li {
    padding: 1.1rem 0.5rem;
  }
}

/* Hover Effect */
.effect a::before,
.effect a::after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}

.effect a::before {
  margin-right: 5px;
  content: "[";
  transform: translateX(10px);
}

.effect a::after {
  margin-left: 5px;
  content: "]";
  transform: translateX(-10px);
}

.effect a:hover::before,
.effect a:hover::after,
.effect a:focus::before,
.effect a:focus::after {
  opacity: 1;
  transform: translateX(0px);
}

/* welcome section */

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(20, 20, 20);
  color: rgb(241, 241, 241);
}

.hide {
  background: rgb(20, 20, 20);
  overflow: hidden;
  margin: 1rem 0;
}

.hide .roll {
  transform: translateY(100%);
  display: inline-block;
}

h1 {
  margin-bottom: 1rem;
}

#emoji1 {
  animation-name: wave;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(12deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-7deg);
  }
  30% {
    transform: rotate(13deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

#links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

#links a {
  margin: -2.5px 0;
}

.fab {
  padding-right: 0.5rem;
}

/* Hover effect2  */

.effect2 a,
.effect2 p {
  overflow: hidden;
  padding: 0 2rem;
}

.effect2 p span {
  position: relative;
  display: inline-block;
  animation: flip 7s 5.2s ease-in-out infinite;
}

@keyframes flip {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(-105%);
  }

  25% {
    transform: translateY(-105%);
  }

  50% {
    transform: translateY(-105%);
  }

  60% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

.effect2 a span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}

.effect2 p span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: bolder;
  color: rgb(255, 217, 0);
  transform: translate3d(0, 0, 0);
}

.effect2 a span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: 600;
  color: rgb(0, 174, 255);
  transform: translate3d(0, 0, 0);
}

.effect2 a span.dribble::before {
  color: #ea4c89;
}
.effect2 a span.github::before {
  color: #00a043;
}

.effect2 a:hover span,
.effect2 a:focus span {
  transform: translateY(-100%);
}

/* ----------------------------------- */

@media (max-width: 590px) {
  #h1 {
    font-size: 1.4rem;
    margin-top: 4rem;
  }

  #desc {
    margin-bottom: -1px;
  }

  #links {
    font-size: 0.9rem;
    text-align: center;
    flex-direction: column;
    margin-top: 2rem;
  }

  #links a {
    margin: -3px 0;
  }
}

/* Projects section */

#projects {
  padding: 7rem 2rem;
  width: 100%;
  background-color: rgb(224, 224, 224);
  text-align: center;
}

#projects h1 {
  font-size: 2rem;
  margin: 0 auto 6rem auto;
}

.grid {
  display: grid;
  padding: 0 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.img {
  border: 0;
  padding: 0;
  border-radius: 5px;
  border: 4px solid rgb(236, 236, 236);
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.project-tile {
  position: relative;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(238, 238, 238);
  color: #f1f1f1;
  width: 100%;
  transition: 0.3s ease-out;
  opacity: 0;
  color: rgb(26, 26, 26);
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
}

.project-tile:hover .img {
  transform: translateY(-2%);
}

.project-tile:hover .overlay {
  opacity: 1;
}

@media (max-width: 440px) {
  .grid {
    padding: 0 1rem;
    grid-template-columns: none;
  }

  #projects h1 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }

  #projects {
    padding: 5rem 1rem;
    width: 100%;
  }
}

footer {
  font-size: 0.8rem;
  padding: 1rem 1.5rem;
  background: #000000;
  color: #868686;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#copyright {
  font-size: 0.75rem;
}

#bye {
  padding-top: -5px;
}
